// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//semantic ui add person logo//
.logo {
	color: black;
	font-size: 15px;
}

.logo:link {
	text-decoration: none;
}

.logo:hover {
	color: #5bbd72;
}

//semantic ui content//
.content{
    margin: auto;
}

//overall card//
#address_card {
	margin: auto;
	margin-top: 100px;
}

.header, .ui.sub.header, .summary {
	text-align: center;
}

//for the both buttons//
.ui.buttons{
	padding-left: 50px;
}

//for the delete button//
#delete_buttons {
	padding-left: 20px;
}

//for the main header//
#header_content{
	border-bottom: solid 1px;
}

//for the add button//
#add_button{
	padding-left: 60px;
}

//welcome_page//

#ui_message {
	margin: auto;
	margin-top: 60px;
}

.title {
	text-align: center;
}

#warning {
	width:300px;
    margin:0 auto;
    text-align:left;
}


