// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logo {
	color: black;
	font-size: 15px;
}

.logo:link {
	text-decoration: none;
}

.content{
    margin: auto;
}

#address_card {
	margin: auto;
	margin-top: 100px;
}

.header, .ui.sub.header, .summary {
	text-align: center;
}

